@import 'global';
@import "Button.scss";
@import "Carousel.scss";
@import "Tabs.scss";
@import "Bar.scss";
@import "Dialog.scss";
.App {
  text-align: center;
  
  font-family: 'monospace';
  letter-spacing: '.3rem';
  input {
      font-size: 2rem;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  position: relative;
  width: 80vw;
  left: 50%;
  transform: translate(-50%, 0%);
  @media (max-width: 600px) {
      width: 100vw;
    }
}


.Base {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    // width: 24rem;
    font-size: 4rem !important;
    // height: 30px;
    color: $info-color;
    border-bottom: .5rem #EE9E1F solid;
    // flex-grow: .1;
  }
  .textField {
    width: 30rem;
    // margin-right: 4rem;  
    // margin:  auto 4rem  auto 18rem;
    @media (max-width: 600px) {
      min-width: 100%;
      margin: 2rem auto;
      display: block;
    }
    input {
      background: #FAFAFA 0% 0% no-repeat padding-box;
      border: 2px solid #DCDCDC;
    }
  }
  
}

.Register-content {
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: $info-color;
  width: 80vw;
}

.Register-content>span {
  display: block;
  margin: 4rem auto 4rem auto;
}

.Login-content {
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: $info-color;
  width: 80vw;
  
}

.Login-content>span  {
  display: block;
  margin: 2rem auto 2rem auto;
}

.Login-content>hr {
  display: block;
  margin: 2rem auto 2rem auto;
}

.info-content {
  flex: 25%;
  
  .info-title {
    width: 12rem;
    font-size: 3rem !important;
    color: $info-color;
    // border-bottom: .5rem #EE9E1F solid;
    font-weight: 550 !important;
  }

  .info-list {
    display: flex;
    justify-content: center;

    * {
      // text-align: center !important;
      font-weight: 700 !important;
      font-size: 2rem !important;
    }
  }

  .info-list-item {
    width: 60rem;

    input {
      text-align: right;
      // position: relative;
      // right: 0;
    }

  }

  .ResetPassword-text {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    color: $info-color;

  }

  .ResetPassword-text>span {
    display: block;
    margin: 4rem auto 4rem auto;
  }
}

.crop-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  .crop-card {
    display: flex;
    width: 24%;
    margin-right: 1rem;
    height: 18rem;
    flex-direction: column;
    // justify-content: flex-start;
    // align-content: flex-start;
    text-align: left;
    span {
      font-weight: 700;
      font-size: 1.8rem !important;
      display: block;
    }
    
  }
}


