/* HEXAGON STARTS HERE */
@import 'global';
.tbale{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    padding: 2rem;
    font-size: 4rem !important;
      // height: 30px;
    color: $info-color;
    font-weight: 700;
  }
}

.backstage-index {
  min-height: 90vh;
  display: flex;
  // max-width: 40vw;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hex {
  cursor: pointer;
  width: 150px;
  height: 86px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 173px;
  position: relative;
  float: left;
  margin: 25px 5px;
  text-align: center;
  zoom: 1;
  transform: rotate(0deg);
  transition: 2s;

  &:hover{
    transform: rotate(360deg);
    background:#FFF !important;
    span {
      color: #000 ;
    }
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    // text-indent: -9999em;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: white;
    font-size: 3rem;
  }
  
  .corner-1,
  .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    overflow: hidden;
    backface-visibility: hidden;
  }
  .corner-1 {
    z-index: -1;
    transform: rotate(60deg);
  }
  .corner-2 {
    transform: rotate(-60deg);
  }
  .corner-1:before,
  .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    backface-visibility: hidden;
  }
  .corner-1:before {
    transform: rotate(-60deg) translate(-87px, 0px);
    transform-origin: 0 0;
  }
  .corner-2:before {
    transform: rotate(60deg) translate(-48px, -11px);
    bottom: 0;
  }
}
.hex.hex-gap {
  margin-left: 86px;
}

/*=======================================================*/
.hex.hex-img {
  background-image: url("http://www.16sucai.com/uploadfile/show2013/0605002/images/4.jpg");
}

.hex.hex-1 {
  background: #f5c53c;
}

.hex.hex-2 {
  background: #80b971;
}

