.App-Bar {
  background: #FFFFFF 0% 0% no-repeat padding-box;

  .App-Text {
    /* UI Properties */
    text-align: center;
    font: normal normal bold 20px PingFang SC;
    letter-spacing: 0px;
    color: #323232;
    opacity: 1;
    text-decoration: 'none';
    font-family: 'monospace';
    font-weight: 700;
    letter-spacing: '.3rem';
  }

  .App-Img {
    height: 54px;
  }
}

.Drawer {
  width: 25rem;

  .List-FirstItem {
    display: flex;
    align-items: center;
    // height: 6rem;
    // padding: 1rem;

    .title {
      margin-left: 2rem;
      // margin: auto 2rem;
      color: $info-color;
      font-size: 1.8rem;
      font-weight: 700;
      flex-grow: 1;
    }

    .sub-title {
      color: $success-color;
      font-size: 1rem;
    }

    .status {

      background-color: $success-color;
      border-radius: 99em;
      color: #FFF;
      font-size: 1.5rem;
      padding: .3rem;
    }

    svg {
      font-size: 3rem;
    }

    // justify-content: center;
  }

  .List-content {
    span {
      font-size: 1.8rem;
      font-weight: 700
    }

    svg {
      font-size: 2rem;
    }
  }
}
