@import 'global';
// .Success-btn {
//   color: #000 !important;
//   font-size: $btn-text-size !important;
//   border-radius: 5rem !important;
//   width: 150px;
//   height: 50px;
//   font-weight: 700 !important;
//   background-color: $success-color !important;
//   &:hover {
//       background-color: $cancel-color  !important;
//     }
// }

// .Success-btn:hover {
//   background-color: $cancel-color !important;
// }

.Success-btn-small {
  color: #000 !important;
  font-size: 1.5rem !important;
  border-radius: 5rem !important;
  width: 130px;
  height: 30px;
  font-weight: 500 !important;
  background-color: $success-color !important;
  &:hover {
      background-color: $cancel-color  !important;
    }
}

// .Cancel-btn {
//   color: #000!important;
//   font-size: $btn-text-size !important;
//   border-radius: 5rem !important;
//   font-weight: 700 !important;
//   width: 150px;
//   // width: 250px;
//   background-color: $cancel-color !important;
//   &:hover {
//       background-color: $success-color  !important;
//     }
// }

.btn_background {
  transform: perspective(none) translateZ(0)
}

.btn_background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #9FA0A0;
  transform: scale(0);
  transition: .3s;
  z-index: 1;
  opacity: 0.5;
}

.btn_background:hover {
  color: Lavender;
}

.btn_background:hover::before {
  transform: scale(1);
}

.img-button {
  width: 150px;
  height: 150px;
  margin-bottom: 25px !important;

  @media (max-width: 600px) {
    width: 100px !important;
    height: 100px !important;
    margin-right: 10px !important;

  }
  .text {
    position: 'relative';
    margin-top: 180px !important;
    font-size: 1.5rem;

    @media (max-width: 600px) {
      margin-top: 125px !important;
    }
  }
}

.Edit-btn {
  position: relative;
  bottom: .5rem;
  // right: 1rem;
  color: $success-color  !important;
  svg {
    font-size: 2.5rem  !important;
  }
  &:hover {
    color: $cancel-color  !important;
  }
}

.Fab-btn {
  position: fixed !important;
  bottom: 3rem;
  right: 3rem;
}

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  position: relative;
  width: 150px;
  
  &::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
  }

  & .btn-text {
    color: black;
    font-size: $btn-text-size  !important;
    font-weight: 700;
    // check out mdn docs for different types of blend modes. 
    mix-blend-mode: luminosity; //difference
  }

  &:hover {
    &::before {
      background: black;
      width: 25%;
    }
   
  }
  //rounded btn styles
  &.rounded {
    border-radius: 50px;

    &::before {
      border-radius: 50px;
      width: 100%;
      // background: $success-color;
    }

    &:hover {
      &::before {
        // background: $success-color;
        width: 25%;
      }
    }
  }
}

.btn-color-success {
  
  &::before {
      background: $success-color !important;  
  }
    &:hover {
      .btn-text {
        color:$success-color !important;
      }
      &::before {
        background: $success-color !important;      
      }
    }
}

.btn-color-cancel {

  &::before {
    background: $cancel-color  !important;
  }

  &:hover {
    .btn-text {
       color: $cancel-color !important;
    }
    &::before {
      background: $cancel-color  !important;
    }
  }
}

.btn-size-small {
  width: 130px;
  height: 30px;
  font-size: 1.5rem !important;
}
