.dispaly-flex {
  display: flex;
  justify-content: center;
  .dispaly-flex-item {
    display: flex;
  }
    
}
.flex-container-column {
  flex-direction: column !important;
}

.page-content {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  
}
