html {
  font-size: 62.5%;
  /*10 ÷ 16 × 100% = 62.5%*/
  @media (max-width: 600px) {
    font-size: 50%;;
    /*8 ÷ 16 × 100% = 50%*/
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  width: 100%;
  height: 80vh;
}
