.Tabs {
  display: flex;
  margin-top: 5rem;
  width: 80vw;

  @media (max-width: 600px) {
    width: 100vw;
  }

  // align-items: ;
  justify-content: flex-start;
  
  .tabs-left-list {
    flex-grow: 0;
    position: relative;

    // div {
    //display: block;
    // }
    .avatar {
      width: 10rem;
      height: 10rem;
      margin-left: 4rem;

      * {
        font-size: 10rem;
      }

      @media (max-width: 600px) {
        width: 6rem;
        height: 6rem;
        margin-left: 6.5rem;

        * {
          font-size: 6rem;
        }
      }
    }

    .avatar-btn {
      position: absolute;
      top: 6rem;
      left: 10rem;

      @media (max-width: 600px) {
        top: 2.5rem;
        left: 10rem;
      }
    }

    .user-name {
      font-size: 3rem !important;
      color: $info-color;
    }
    .tabs-list-item {
      width: 18rem;
      * {
        font-weight: 700 !important;
        font-size: 2rem !important;
      }
    }
    .tabs-list-item-focus {
      color: $info-color;
    }
  }
}
