.list-item-text{
  font-size: 2rem !important;
  font-weight: 700 !important;
}
.breadcrumbs-text {
  cursor: pointer;
  *{
    font-size: 1.5rem !important;
  }
}
.TextField-text {
  label{
    font-size: 2.2rem !important;
    
  }
  input{
    font-size: 2rem !important;
    padding-top: 30px;
  }
  textarea {
    font-size: 2rem !important;
    padding-top: 30px;
  }
}
.Dialog-Title-text {
  padding: 5px 20px !important;
  font-size: 3rem !important;
}
